#wrap {
    width: 1200px;
    margin: 20px auto;
}
header {
    margin-top: 20px;
    margin-bottom: 5px;
}
* {
    padding: 0px;
    margin: 0px;
}
.catalog-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #424242;
}
.catalog-products {
    background: #f5f5f5;
}
.catalog-list {
    color: #424242;
    font-size: 14px;
}
.catalog-list li {
    line-height: 25px;
    margin-left: 15px;
}
.catalog-list li a {
    color: #424242;
}
.ul-child-items {
    margin-left: 15px;
}
.catalog {
    background: #f8f8f8;
    padding: 20px 10px;
}
.column {
    width: 250px;
    margin-bottom: 10px;
}
.product-info {
    border: 1px solid #ccc;
    width: 215px;
    padding: 4px;
}
.product-thumbs {
    max-height: 200px;
    text-align: center;
}
.product-article {
    height: 20px;
    color: #ccc;
    margin: 4px 0px;
}

.product-title {
    height: 70px;
}
.product-title a{
    color: #000 !important;
}
.product-price {
    color: green;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.product-cart {

}
.new_price {
    width: 50%;
    float: left;
}
.old_price {
    float: right;
    text-decoration: line-through;
    color: #000;
    font-size: 14px;
}
.clear {
    clear: both;
}
